<!-- templates/index.html -->
{% extends "base.html" %}

{% block head %}
<title>AI Assistant Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Welcome to Your Personal AI Assistant</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="{{ url_for('pdf_assistant.pdf_assistant_home') }}" class="btn btn-primary btn-block">PDF Assistant</a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('email_assistant.email_assistant_home') }}" class="btn btn-success btn-block">Email Assistant</a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('meeting_assistant.meeting_assistant_home') }}" class="btn btn-info btn-block">Meeting Assistant</a>
        </div>
    </div>
</div>
{% endblock %}
